*{
  box-sizing: border-box;
}    
body{
  background-color: floralwhite;
  margin: 0;
}
.header, .main, .nav, .footer {
  max-width: 800px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 0.5em;
  border-bottom: 1px dashed #ddd;
}
.header {
  color: #006e49;
  padding: 0;
}
h1 {
  text-align: center;
}
h2,h3 {
  margin: 0.6em auto 0.4em auto;
}
h2 {
  color: #006e49;
  border-bottom: 1px solid #eee;
}
h3 {
  padding-left: 0.4em;
}
p,ul{
  margin: 0.4em auto;
}
ul {
  padding-left: 1.5em;
}
li {
  margin: 0.2em auto;
}
a{
  text-decoration: none;
  font-size: 0.9em;
}

.nav ul{
  list-style: none;
  font-size: 1.2em;
  padding: 0;
}
.nav li{
  display: inline-block;
}
.nav li+li:before {
  content: "| ";
}
.nav a{
  font-size: 1em;
}

.footer p {
  font-family: monospace;
  color: #777;
}
