*{
  box-sizing: border-box;
}    
body{
  background-color: floralwhite;
  margin: 0;
}
.header, .main, .nav, .footer {
  max-width: 800px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 1.5em;
  border-bottom: 2px #ffe2cc solid;
}
h1 {
  text-align: center;
}
h2,h3 {
  margin: 0.6em auto 0.4em auto;
}
h2 {
  text-decoration: underline;
}
h3 {
  padding-left: 0.4em;
}
p,ul{
  margin: 0.4em auto;
}
ul {
  padding-left: 1.5em;
}

.nav ul{
  list-style: none;
  padding-left: 0;
  font-size: 1.1em;
}
.nav li{
  display: inline-block;
}
.nav li+li:before {
  content: "| ";
}
a{
  text-decoration: none;
}