*{
  box-sizing: border-box;
}    
body{
  background-color: floralwhite;
  margin: 0;
}
.header, .main, .nav, .footer {
  max-width: 800px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 0.5em;
}
.header {
  background-color: #369;  
}
h1 {
  text-align: center;
  color: white;
  padding: 0.25em;
}
h2,h3 {
  margin: 0.6em auto 0.4em auto;
}
h2 {
  color: #985735;
  border-bottom: 1px solid #ddd;
}
h3 {
  padding-left: 0.4em;
}
p,ul{
  margin: 0.4em auto;
}
ul {
  padding-left: 1.5em;
}
li {
  margin: 0.2em auto;
}
a{
  text-decoration: none;
  font-size: 0.9em;
}

.nav ul{
  list-style: none;
  font-size: 1.2em;
  padding: 0;
}
.nav li{
  display: inline-block;
}
.nav li+li:before {
  content: "| ";
}
.nav a{
  font-size: 1em;
}

.footer {
  border-top: 0.2em solid #369;
}
.footer p {
  font-family: monospace;
  color: grey;
}
