
table {
  max-width: 1200px;
  border-spacing: 0px;
  border: 0px;
  border-bottom: 1px solid #006e49;
  border-top: 1px solid #006e49;
}
td {
  padding: 0.1em 0.5em;
  vertical-align: top;
}
td:first-child {
  white-space: nowrap;
}
tbody td {
  border-top: 1px dotted #006e49;
}
tbody tr:hover {
  background-color: #e6fee6;
}
thead tr { 
  color: #fff;
  border-bottom: 1px solid #006e49;
  background-color: #006e49;
}


figure {
  display: inline-block;
  border: 1px dotted black;
  margin: 0;
  padding: 0.5em;
  width: auto;
}
img {
  width: 95vw;
  max-width: 1200px;
  min-width: 320px;
}
figcaption {
  font-size: 0.9em;
}